# Core
python-dotenv
openai==0.28

# PDF & DOCX text extraction
pdfplumber
python-docx

# PDF output (Turkish supported)
reportlab

# Interface
streamlit
streamlit-lottie

# Optional: for visualization and data handling
matplotlib
pandas

# Apify
apify-client